/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
* {
  box-sizing: border-box;
}

label {
  cursor: pointer;
}

 body {
  position: relative;
  color: white;
  height: 100vh;
  width: 100%;
  margin: 0;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
}

#root {
  height: 100%;
  overflow-y: auto;
}

button {
  background-color: white;
  padding: 2px 4px;
  border-radius: 2px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.header {
  background-color: grey;
  height: 50px;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > a {
  text-shadow: 0px 0px 6px darkgoldenrod;
  color: white;

}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 33%;
  min-width: 220px;
  text-align: center;
  margin: 10px;
  box-shadow: 0px 0px 2px 0px black;
  border-radius: 40px;
  color: black;

  transition: filter 1s;
  transition: background-color 1s;
}

.card img {
  width: 100%;
  padding: 10px
}

.card-title {
  margin: 0;
  margin-top: -10px;
  margin-bottom: 10px;
  color: inherit;
}

.card > a {
  color: inherit;
}

.card:hover {
  /* background-color: red; */
  filter: drop-shadow(2px 4px 6px black);
  background-color: grey;
  color: #700876;
}



.page-header {
  margin: 0 auto;
  width: 128px;
  text-align: center;
  color: black;
  border-bottom: 1px solid black;
}

.page-header img {
  width: 100%;
}

.page-container {
  max-width: 600px;
  margin: 0 auto
}

.choose-file {
  font-size: large;
  margin: 20px auto;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #221c1c54;
  border-radius: 10px;
}

.chosen-file-div {
  color: black;
}

.chosen-file-div span {
  display: inline-block;
  max-width: 300px;
  overflow-x: auto;
  margin-bottom: -5px;
}

.chosen-file-div button {
  margin-left: 10px;
}

.page-inner-container {
  background-color: #221c1c54;
  border-radius: 10px;

}

.title-container {
  text-align: center;
}

.table-container {
  max-height: 500px;
  overflow: auto;
}

.table, .table th, .table td {
  border: 1px solid black;
}

.table th {
  background-color: #216e6b;
}

.table td {
  background-color: #375778;
  word-break: break-word;
}

.table {
  width: 100%;
  background-color: grey;
  margin-top: 10px;
}

.table caption {
  font-size: large;
  padding: 5px 0;
  background-color: #575358;
  border: 1px solid black;
  border-bottom: none;
}
